__pycache__/
*.py[cod]
.pytest_cache/
dist/
build/
*.egg-info/
.venv/
node_modules
vscode-extension/node_modules/
vscode-extension/*.vsix
vscode-extension/server/*
!vscode-extension/server/.gitkeep
tools/out/
.tmp_pyinstaller/
.env
*.swp
*.bak
tmp
tmp*
*.log
.DS_Store
.ipynb_checkpoints
.vscode/
.idea/
todo
third_party
zoo


*.iml
.mypy_cache/
.pyre/
.tox/
.nox/
.coverage
.coverage.*
.cache


